<div class="app-form-preview">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="schema">
 
    <div class="form-row">
      <ng-container *ngFor="let field of sections[0].fields">
        <div [ngClass]="'field-size-' + (field.json.size || 'full')">
          <div [ngSwitch]="field.json.type">
            <!-- TEXT -->
            <ng-container *ngSwitchCase="'text'">
              <label>
                {{ field.json.label }}
                <span *ngIf="field.json.required" class="required-star">*</span>
              </label>
              <input
                type="text"
                [formControlName]="field.json.name"
                [placeholder]="field.json.placeholder || ''"
              />
              <div
                class="error-msg"
                *ngIf="
                  form.get(field.json.name)?.touched && form.get(field.json.name)?.errors
                "
              >
                <div *ngIf="form.get(field.json.name)?.hasError('required')">
                  This field is required.
                </div>
                <div *ngIf="form.get(field.json.name)?.hasError('email')">
                  Please enter a valid email address.
                </div>
                <div *ngIf="form.get(field.json.name)?.hasError('minlength')">
                  Minimum {{ field.json.minValue }} characters required.
                </div>
                <div *ngIf="form.get(field.json.name)?.hasError('maxlength')">
                  Maximum {{ field.json.maxValue }} characters allowed.
                </div>
              </div>
            </ng-container>
 
            <!-- SELECT -->
            <ng-container *ngSwitchCase="'select'">
              <label>
                {{ field.json.label }}
                <span *ngIf="field.json.required" class="required-star">*</span>
              </label>
              <select [formControlName]="field.json.name">
                <option value="">-- Select --</option>
                <option *ngFor="let opt of field.json.options" [value]="opt">
                  {{ opt }}
                </option>
              </select>
              <div
                class="error-msg"
                *ngIf="
                  form.get(field.json.name)?.touched && form.get(field.json.name)?.errors
                "
              >
                <div *ngIf="form.get(field.json.name)?.hasError('required')">
                  This field is required.
                </div>
              </div>
            </ng-container>
 
            <!-- RADIO -->
            <ng-container *ngSwitchCase="'radio'">
              <label>
                {{ field.json.label }}
                <span *ngIf="field.json.required" class="required-star">*</span>
              </label>
              <div
                [ngClass]="[
                  'radio-group',
                  field.json.direction === 'horizontal' ? 'horizontal' : 'vertical'
                ]"
              >
                <label *ngFor="let opt of field.json.options">
                  <input
                    type="radio"
                    [value]="opt"
                    [formControlName]="field.json.name"
                  />
                  {{ opt }}
                </label>
              </div>
              <div
                class="error-msg"
                *ngIf="
                  form.get(field.json.name)?.touched && form.get(field.json.name)?.errors
                "
              >
                <div *ngIf="form.get(field.json.name)?.hasError('required')">
                  This field is required.
                </div>
              </div>
            </ng-container>
 
            <!-- CHECKBOX -->
            <ng-container *ngSwitchCase="'checkbox'">
              <label>
                <input type="checkbox" [formControlName]="field.json.name" />
                {{ field.json.label }}
                <span *ngIf="field.json.required" class="required-star">*</span>
              </label>
              <div
                class="error-msg"
                *ngIf="
                  form.get(field.json.name)?.touched && form.get(field.json.name)?.errors
                "
              >
                <div *ngIf="form.get(field.json.name)?.hasError('required')">
                  This field is required.
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
 
    <button type="submit">Submit</button>
  </form>
</div>
 
 