<div class="app-form-preview">
  @if (sections.length > 0) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @for (section of sections; track $index) {
    <div class="form-row">
      @for (field of section.fields; track $index) {
      <div
        [ngClass]="'field-size-' + (field.fieldSettings.fieldSize || 'full')"
      >
        <div [ngSwitch]="field.fieldSettings.fieldType">
          <!-- Short Text Field -->
          @if (field.fieldSettings.fieldType === actionTypes.shortText) {
          <label>
            {{ field.fieldSettings.fieldLabel }}
            @if (field.fieldSettings.isRequired) {
            <span class="required-star">*</span>
            }
          </label>
          <input
            type="text"
            [formControlName]="field.fieldSettings.fieldName"
            [placeholder]="field.fieldSettings.placeholderText || ''"
          />
          @if (form.get(field.fieldSettings.fieldName)?.touched &&
          form.get(field.fieldSettings.fieldName)?.errors) {
          <div class="error-msg">
            @if (form.get(field.fieldSettings.fieldName)?.hasError('required'))
            {
            <div>This field is required.</div>
            } @if (form.get(field.fieldSettings.fieldName)?.hasError('email')) {
            <div>Please enter a valid email address.</div>
            } @if
            (form.get(field.fieldSettings.fieldName)?.hasError('minlength')) {
            <div>
              Minimum {{ field.fieldSettings.minRange }} characters required.
            </div>
            } @if
            (form.get(field.fieldSettings.fieldName)?.hasError('maxlength')) {
            <div>
              Maximum {{ field.fieldSettings.maxRange }} characters allowed.
            </div>
            }
          </div>
          } }

          <!-- Dropdown -->
          @if (field.fieldSettings.fieldType === actionTypes.dropDownList) {
          <label>
            {{ field.fieldSettings.fieldLabel }}
            @if (field.fieldSettings.isRequired) {
            <span class="required-star">*</span>
            }
          </label>
          <select [formControlName]="field.fieldSettings.fieldName">
            <option value="">-- Select --</option>
            @for (opt of field.fieldSettings.options; track $index) {
            <option [value]="opt.value">{{ opt.label }}</option>
            }
          </select>
          @if (form.get(field.fieldSettings.fieldName)?.touched &&
          form.get(field.fieldSettings.fieldName)?.errors) {
          <div class="error-msg">
            @if (form.get(field.fieldSettings.fieldName)?.hasError('required'))
            {
            <div>This field is required.</div>
            }
          </div>
          } }

          <!-- Checkbox -->
          @if (field.fieldSettings.fieldType === actionTypes.checkbox) {
          <label>{{ field.fieldSettings.fieldLabel }}</label>
          <div class="checkbox-vertical">
            @for (option of field.fieldSettings.options; track $index) {
            <label>
              <input
                type="checkbox"
                [formControlName]="field.fieldSettings.fieldName"
                [value]="option.value"
              />
              {{ option.label }}
            </label>
            } @if (form.get(field.fieldSettings.fieldName)?.touched &&
            form.get(field.fieldSettings.fieldName)?.errors) {
            <div class="error-msg">
              @if
              (form.get(field.fieldSettings.fieldName)?.hasError('required')) {
              <div>This field is required.</div>
              }
            </div>
            }
          </div>
          }

          <!-- Radio Group -->
          @if (field.fieldSettings.fieldType === actionTypes.radioGroup) {
          <label>
            {{ field.fieldSettings.fieldLabel }}
            @if (field.fieldSettings.isRequired) {
            <span class="required-star">*</span>
            }
          </label>
          <div
            [ngClass]="[
              'radio-group',
              field.fieldSettings.direction || 'vertical'
            ]"
          >
            @for (opt of field.fieldSettings.options; track $index) {
            <label>
              <input
                type="radio"
                [value]="opt.value"
                [formControlName]="field.fieldSettings.fieldName"
              />
              {{ opt.label }}
            </label>
            }
          </div>
          @if (form.get(field.fieldSettings.fieldName)?.touched &&
          form.get(field.fieldSettings.fieldName)?.errors) {
          <div class="error-msg">
            @if (form.get(field.fieldSettings.fieldName)?.hasError('required'))
            {
            <div>This field is required.</div>
            }
          </div>
          } }

          <!-- Table -->
          @if(field.fieldSettings.fieldType === actionTypes.table){
          <p>
            {{ field.fieldSettings.fieldLabel }}
          </p>
          }

          <!-- Label -->
          @if (field.fieldSettings.fieldType === actionTypes.label) {
          <p class="inner-grid-form-label">
            {{ field.fieldSettings.fieldLabel }}
          </p>
          }
        </div>
      </div>
      }
    </div>
    @if($index != sections.length -1){

    <div class="section-divider"></div>
    } }

    <div class="form-actions">
      <button type="submit" class="submit-btn">Submit</button>
    </div>
  </form>
  }
</div>
