.app-settings-component {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;

  .settings-items-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .setting-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-weight: 500;
      font-size: 14px;
      color: #333;
    }

    input[type="number"] {
      appearance: textfield;
      -webkit-appearance: none;
      -moz-appearance: textfield;
      width: 100%;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="text"],
    input[type="number"],
    select {
      padding: 8px 10px;
      font-size: 14px;
      border-radius: 6px;
      min-width: 6dvw;
      border: 1px solid #ccc;
      background-color: #fff;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }

  }

  .setting-item-checkbox {
    display: flex;
    gap: 10px;
    align-items: center;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

}