<div class="test">
  <div class="form-builder-container">
    <div class="left-panel">
      <h4>Fields</h4>
      <div class="buttons-group">
        <button class="field-btn" (click)="addItem()">Add Section</button>
        <button class="field-btn" (click)="previewJson()">test json</button>
      </div>
      <hr />
      <!-- <h4>Search Field</h4> -->
      <div class="buttons-group">
        <!-- <div class="search-box">
          <input type="text" placeholder="Search field..." />
        </div> -->
        <button
          class="field-btn"
          (mousedown)="startGhostDrag($event, ActionTypes.shortText.toString())"
        >
          <img class="drag-icon" src="icons/short-text.png" alt="short-text" />
          <p>Short Text</p>
        </button>
        <button
          class="field-btn"
          (mousedown)="
            startGhostDrag($event, ActionTypes.dropDownList.toString())
          "
        >
          <img class="drag-icon" src="icons/dropdown.png" alt="dropdown" />
          <p>Dropdown Menu</p>
        </button>
        <button
          class="field-btn"
          (mousedown)="startGhostDrag($event, ActionTypes.checkbox.toString())"
        >
          <img class="drag-icon" src="icons/check-box.png" alt="check-box" />

          <p>Single Checkbox</p>
        </button>
        <button
          class="field-btn"
          (mousedown)="
            startGhostDrag($event, ActionTypes.radioGroup.toString())
          "
        >
          <img
            class="drag-icon"
            src="icons/radio-button.png"
            alt="radio-button"
          />

          <p>Radio Group</p>
        </button>
        <button
          class="field-btn"
          (mousedown)="startGhostDrag($event, ActionTypes.table.toString())"
        >
          <img class="drag-icon" src="icons/table.png" alt="table" />
          <p>Table</p>
        </button>
      </div>
    </div>
    <div class="outer-box">
      <div class="header">
        <div class="build-section">
          <button class="white-btn">
            <p>build</p>
          </button>
          <button class="white-btn">
            <p>Template</p>
          </button>
          <hr class="vertical-line" />
          <div class="share-link">
            <p class="gray-text">Link :</p>
            <a
              class="link-text"
              href="https://www.figma.com/board/UizkgaYTEzJcIVoazpQ2pc/Abyan?node-id=0-1&p=f&t=QcjV7Vd5Ydy5zpMF-0"
              >https://www.figma.com/board/UizkgaYTEzJcIVoazpQ2pc/Abyan?node-id=0-1&p=f&t=QcjV7Vd5Ydy5zpMF-0</a
            >
          </div>
        </div>
        <div class="buttons-section">
          <a (click)="previewJson()" class="white-btn">
            <img class="drag-icon" src="icons/preview.png" alt="preview" />
            <p>Preview</p>
          </a>
          <button class="colored-btn">
            <p>Save & Publish</p>
          </button>
        </div>
      </div>
      <div class="inner-box">
        <div class="canvas">
          <div class="grid-stack"></div>
        </div>

        <div class="right-panel">
          <!-- Field Settings -->
          <h4>Field Settings</h4>
          <div class="setting-group">
            @if(fieldId){

            <!-- dropDownList datasource settings -->

            @if(this.fieldType == ActionTypes.dropDownList.toString()){
            <div class="setting-item">
              <label for="field-name">Source URL</label>
              <input
                [(ngModel)]="ddlURL"
                type="text"
                id="source-url"
                placeholder="Enter field name"
              />
            </div>
            <div class="settings-items-row">
              <div class="setting-item">
                <button class="colored-btn" (click)="testDDLURL()">
                  Test URL
                </button>
              </div>
            </div>
            <div class="settings-items-row">
              <div class="setting-item">
                <label for="ddl-keys">Key</label>
                <select id="ddl-keys"></select>
              </div>
              <div class="setting-item">
                <label for="ddl-values">Value</label>
                <select id="ddl-values"></select>
              </div>
            </div>

            <div class="settings-items-row">
              <div class="setting-item">
                <button class="colored-btn" (click)="previewData()">
                  Preview
                </button>
              </div>
            </div>
            <div class="setting-item">
              <label for="ddl-preview">test</label>
              <select id="ddl-preview"></select>
            </div>
            <div class="settings-items-row">
              <div class="setting-item">
                <button class="colored-btn" (click)="saveDDL()">Save</button>
              </div>
            </div>
            }

            <!-- table datasource settings -->

            @if(this.fieldType == ActionTypes.table.toString()){
            <div class="setting-item">
              <label for="field-name">Source URL</label>
              <input
                [(ngModel)]="tableURL"
                type="text"
                id="source-url"
                placeholder="Enter field name"
              />
            </div>
            <div class="settings-items-row">
              <div class="setting-item">
                <button class="colored-btn" (click)="testTableURL()">
                  Test URL
                </button>
              </div>
            </div>
            <div class="table-grid">
              @for (key of tableKeys; let i = $index; track key) {
              <div class="setting-item">
                <label for="table-ddl-column-{{ i + 1 }}"
                  >column{{ i + 1 }}</label
                >
                <select id="table-ddl-column-{{ i + 1 }}">
                  @for (key of tableKeys; track key) {
                  <option value="{{ key }}">{{ key }}</option>
                  }
                </select>
              </div>
              }
            </div>

            <div class="settings-items-row">
              <div class="setting-item">
                <button class="colored-btn" (click)="saveTable()">Save</button>
              </div>
            </div>
            }

            <!-- end of settings -->

            } @if (fieldId) {
            <app-settings-component
              [fieldId]="fieldId"
              [fieldType]="fieldType"
              [fieldSettings]="selectedFieldSettings"
              (fieldUpdated)="onFieldUpdated($event)"
            ></app-settings-component>

            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
