<div class="form-builder-container">
  <div class="left-panel">
    <h4>Fields</h4>
    <div class="buttons-group">
      <button class="field-btn" (click)="addItem()">Add Section</button>
    </div>
    <h4>Text & Input</h4>
    <div class="buttons-group">
      <button class="field-btn">
        <p>X</p>
        <p>Short Text</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Paragraph</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Numeric Input</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Date Picker</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Image Upload</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Attachment</p>
      </button>
    </div>
    <hr />
    <h4>Selection & Choices</h4>
    <div class="buttons-group">
      <button class="field-btn">
        <p>X</p>
        <p>Toggle Switch</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Dropdown Menu</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Single Checkbox</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Checklist Group</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Range Slider</p>
      </button>
    </div>
    <hr />

    <h4>Layout & Structure</h4>
    <div class="buttons-group">
      <button class="field-btn">
        <p>X</p>
        <p>Section Break</p>
      </button>
      <button class="field-btn">
        <p>X</p>
        <p>Data Table</p>
      </button>
    </div>
  </div>

  <div class="canvas">
    <div class="grid-stack"></div>
  </div>

  <div class="right-panel">
    <!-- Field Settings -->
    <h4>Field Settings</h4>
    <!-- Show selected field settings here -->
  </div>
</div>
